@import url(https://fonts.googleapis.com/css?family=Lora:400,700);

#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #fac51c;
}
#menu-0 .mbr-navbar__section {
  background: #fac51c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #b8312f;
}
#menu-0 .mbr-navbar__items a {
  font-size: 15px;
}
#header1-2 H1 {
  text-align: left;
  font-size: 84px;
}
#header1-2 P {
  font-size: 36px;
  font-family: 'Lora', serif;
  color: #ffffff;
}
#header1-2 B {
  text-align: right;
  color: #ffffff;
}
#image2-p SMALL {
  text-align: center;
  color: #000000;
}
#menu-1 .mbr-brand__name {
  font-size: 16px;
}
#menu-1.mbr-navbar--stuck .mbr-navbar__section {
  background: #b8312f;
}
#menu-1 .mbr-navbar__section {
  background: #b8312f;
}
#menu-1 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-5 .mbr-brand__name {
  font-size: 16px;
}
#menu-5.mbr-navbar--stuck .mbr-navbar__section {
  background: #b8312f;
}
#menu-5 .mbr-navbar__section {
  background: #b8312f;
}
#menu-5 .mbr-navbar__hamburger {
  color: #9365b8;
}
#menu-5 .mbr-navbar__items a {
  font-size: 15px;
}
#msg-box2-18 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-18 .mbr-article {
  color: #252525;
}
#menu-a .mbr-brand__name {
  font-size: 16px;
}
#menu-a.mbr-navbar--stuck .mbr-navbar__section {
  background: #b8312f;
}
#menu-a .mbr-navbar__section {
  background: #b8312f;
}
#menu-a .mbr-navbar__hamburger {
  color: #9365b8;
}
#menu-a .mbr-navbar__items a {
  font-size: 15px;
}
#msg-box2-1c .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-1c .mbr-article {
  color: #252525;
}
#menu-v .mbr-brand__name {
  font-size: 16px;
}
#menu-v.mbr-navbar--stuck .mbr-navbar__section {
  background: #b8312f;
}
#menu-v .mbr-navbar__section {
  background: #b8312f;
}
#menu-v .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box2-1d .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-1d .mbr-article {
  color: #252525;
}
#image2-z SMALL {
  text-align: center;
  color: #000000;
}
#menu-11 .mbr-brand__name {
  font-size: 16px;
}
#menu-11.mbr-navbar--stuck .mbr-navbar__section {
  background: #b8312f;
}
#menu-11 .mbr-navbar__section {
  background: #b8312f;
}
#menu-11 .mbr-navbar__hamburger {
  color: #ffffff;
}
#image2-w SMALL {
  text-align: center;
  color: #000000;
}
#menu-y .mbr-brand__name {
  font-size: 16px;
}
#menu-y.mbr-navbar--stuck .mbr-navbar__section {
  background: #b8312f;
}
#menu-y .mbr-navbar__section {
  background: #b8312f;
}
#menu-y .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-12 .mbr-brand__name {
  font-size: 16px;
}
#menu-12.mbr-navbar--stuck .mbr-navbar__section {
  background: #b8312f;
}
#menu-12 .mbr-navbar__section {
  background: #b8312f;
}
#menu-12 .mbr-navbar__hamburger {
  color: #ffffff;
}
#form1-14 .mbr-header__text {
  text-align: center;
  color: #fac51c;
}
#menu-1u .mbr-brand__name {
  font-size: 16px;
}
#menu-1u.mbr-navbar--stuck .mbr-navbar__section {
  background: #b8312f;
}
#menu-1u .mbr-navbar__section {
  background: #b8312f;
}
#menu-1u .mbr-navbar__hamburger {
  color: #ffffff;
}
